<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}IPG{% endblock %}</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.3/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.3/js/uikit-icons.min.js"></script>

</head>
<body>
<header>
    <!--h1>IPG</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">logout</a>
    Hola {{ user.username }}!
    {% else %}
    <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
    {% endif %}
    <hr-->

</header>

<main>
    <div class="uk-grid uk-grid-collapse" uk-grid>
        {% if user.is_authenticated %}
        <div class="uk-width-1-6 " style="background-color:#2c3144">
            <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-active"><a href="#">IPG</a></li>
                    <li class="uk-nav-header">IPG</li>
                    <li class="uk-parent">
                        <a href="#">
                            <span class="uk-margin-small-right uk-icon" uk-icon="icon: thumbnails"></span> Catalogo
                        </a>
                        <ul class="uk-nav-sub">
                            <li><a class="uk-active" href="{% url 'catalog' %}">Todo</a></li>
                            <li><a href="#">Netflix</a></li>
                            <li><a href="#">Deezer</a></li>
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="">Cuenta</a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">Perfil</a></li>
                            <li><a href="#">Compras</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'signup' %}">Registro</a></li>

                            {% endif %}
                        </ul>
                    </li>
                    <li class="uk-parent">
                        <a href="">IPG</a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Condiciones</a></li>
                            <li><a href="#">Privacidad</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        {% endif %}
        <div class="uk-width-5-6 ">
            {% if user.is_authenticated %}
            <ul class="uk-breadcrumb">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><span></span></li>
            </ul>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>
</body>
</html>