{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>{{ catalog.offer.name }}</h1>
    <a href="/catalog/1">
        <img src="{% if catalog.offer.image %}
                {{ catalog.offer.image.url }}
            {% else %}
                {% static 'img/default.jpg' %}
            {% endif %}" alt="..." style="height: 130px; width: auto">
    </a>
    <h2>Precio: {{catalog.operator.country.currency}} {{catalog.price}} </h2>
    <p>{{ catalog.offer.description }}</p>
    <form action="{% url "cart_add" catalog.id %}" method="post">
        {% csrf_token %}
        {{ cart_product_form }}
        <input type="submit" value="add to cart" class="btn btn-primary">
    </form>
    <!--a href="/confirmation/">Comprar</a>
    <a href="{% url 'purchase-order' catalog=1 %}">comprar</a>
    <button>Compartir</button-->
{% endblock %}