{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="uk-position-relative uk-visible-toggle uk-light"
     uk-slider="center: true;  autoplay: true; autoplay-interval: 3000">


    <ul class="uk-slider-items uk-grid uk-grid-match" uk-height-viewport="offset-top: true; offset-bottom: 30">

        {% for banner in banners %}

        <li class="uk-width-3-4">
            <a class="uk-cover-container" href="{{ banner.target }}">>
                <img src="{{ banner.image.url }}" alt="{{ banner.image.name }}" uk-cover>
                <div class="uk-position-center uk-panel"><h1>1</h1></div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
       uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
       uk-slider-item="next"></a>


    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
</div>

{% if object_list %}

<div class="uk-child-width-1-5@m uk-padding-small" uk-grid>
    {% for catalog in object_list %}

    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <a href="{{ catalog.get_absolute_url }}">
                    <img src="{{ catalog.offer.image.url }}" alt="{{ catalog.offer.name }}"
                         style="height: 130px; width: auto">
                </a>
            </div>
            <div class="uk-card-body uk-padding-small">
                <p>{{ catalog.offer.name }}</p>
                <p>{{catalog.operator.country.currency}}{{catalog.price}}</p>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
<ul>
    {% for catalog in object_list %}
    <!--li>
    <a href="{{ catalog.get_absolute_url }}">{{ catalog.offer }}</a>
      <br>
      <a href="{{ catalog.get_absolute_url }}">
            <img src="{% if catalog.offer.image %}
                    {{ catalog.offer.image.url }}
                {% else %}
                    {% static 'img/default.jpg' %}
                {% endif %}" alt="..." style="height: 130px; width: auto">
        </a>
      <p>{{ catalog.offer.description}}</p>
      {{catalog.operator.country.currency}} {{catalog.price}}

  </li-->
    {% endfor %}

</ul>
{% else %}
<p>No hay ofertas disponibles</p>
{{ some_data }}
{% endif %}


<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="http://127.0.0.1:8080/media/products/2018/05/25/netflix-1.png" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Media Left</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="http://127.0.0.1:8080/media/products/2018/05/25/netflix-1.png" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Media Right</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
</div>

{% endblock %}